<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <div class="trips">
            <div class="logo__menu content">
                <div class="logo">NT</div>
                <div class="menu">
                    <ion-icon name="search-outline"></ion-icon>
                    <div class="btn_menu">Menu</div>
                </div>
            </div>
            <div class="page__heading">
                <h1>Night Trips</h1>
                <h4>WE GOT TRIPS FOR THE TRIPPSTER IN YOU</h4>
                <p>Neque, eros commodo, nascetur ullamcorper vitae. Tincidunt ut venenatis, volutpat lorem ut faucibus mauris, quisque. Integer gravida sed quis congue. Vel risus, arcu a viverra leo id pulvinar ultricies. Enim in in in pulvinar nulla sollicitudin. Ullamcorper.</p>
            </div>
            <div class="footer__social content">
                <div class="rscrol">
                    <div class="line"></div>
                    <p>scroll</p>
                </div>
                <div class="social">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="description__trip">
                <div class="header content">
                    <h2>Pick your trip</h2>
                    <div>x</div>
                    <p>Our team put together some trips to you to discover,
                        feel free to discover each of them.</p>
                </div>
                <div class="menu__trip content">
                    <ul>
                        <li>Chill Adventure</li>
                        <li>Spooky Times</li>
                        <li>Desert Madness</li>
                        <li>Out in the wild</li>
                    </ul>
                </div>
                <div class="description">
                    <div class="all_karusel">
                        
                        <img src="img/Image.png" alt="" class="img__description">
                        <img src="img/Dots.png" alt="" class="dot">
                    </div>
                    <div class="description__text">
                        <h4>Chill Adventure</h4>
                            <p>Ornare vivamus molestie pellentesque nunc. Sed sapien erat ultrices curabitur. Erat id fringilla arcu condimentum fames.</p>
                            <p> Aliquet dictum aliquet faucibus cursus turpis. Suspendisse cum rutrum sit ut sociis. Pellentesque neque orci adipiscing pharetra lacus, dignissim pharetra ipsum blandit. Feugiat quis quam consectetur lectus id quis tortor vel, mattis.</p>
                        <div class="btn description__btn">SEE OUR LATEST OFFER</div>
                        <div class="share__social">
                            <p>SHARE IT</p>
                            <div class="mini_social">
                                <ion-icon name="logo-instagram"></ion-icon>
                                <ion-icon name="logo-facebook"></ion-icon>
                                <ion-icon name="logo-twitter"></ion-icon>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_Img">
                <div class="about__us content">
                    <div class="text__Content">
                        <h4>About Us</h4>
                        <p>We’re a team of four passioned people.</p>
                        <br>
                        <p> We’re ready to take the world by storm and 
                            let you find new travel opportunities.</p>
                        <br>
                        <p>Our everyday task is to make sure that you satisfied with the services and products that we provide. </p>
                        <br>
                        <p>With 💖 from Amsterdam, Netherlands.</p>
                            <div class="btn btn__readmore">READ MORE ABOUT US</div>
                    </div>
                    <div class="img__content">
                        <img src="img/1.png" alt="">
                        <img src="img/2.png" alt="">
                        <img src="img/3.png" alt="">
                        <img src="img/4.png" alt="">
                    </div>
                </div>
                <div class="thoughts">
                    <h2>People’s thoughts</h2>
                    <p>SEE WHAT ARE OTHERS SAYING</p>
                    <div class="colection__throughts">
                        <div class="all__Colectrion">
                            <p>
                                Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl
    adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu. Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.
                            </p>
                                <div class="cart">
                                    <img src="img/Mask Group.png" alt="">
                                    <p>Judy ROSELESS <br>
                                        MARKETING HEAD at ROM.</p>
                                </div>
                        </div>
                        <div class="all__Colectrion">
                            <p>
                                Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl
    adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu. Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.
                            </p>
                                <div class="cart">
                                    <img src="img/Mask Group.png" alt="">
                                    <p>Judy ROSELESS <br>
                                        MARKETING HEAD at ROM.</p>
                                </div>
                        </div>
                        <div class="all__Colectrion">
                            <p>
                                Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl
    adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu. Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.
                            </p>
                                <div class="cart">
                                    <img src="img/Mask Group.png" alt="">
                                    <p>Judy ROSELESS <br>
                                        MARKETING HEAD at ROM.</p>
                                </div>
                        </div>
                        <div class="all__Colectrion">
                            <p>
                                Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl
    adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu. Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.
                            </p>
                                <div class="cart">
                                    <img src="img/Mask Group.png" alt="">
                                    <p>Judy ROSELESS <br>
                                        MARKETING HEAD at ROM.</p>
                                </div>
                        </div>
                       
                    </div>
                    <h2>See you soon!</h2>
                    <p>We hope to meet each other very soon.</p>
                </div>
            </div>
           
        </div>
        <footer class="footer">
            <div class="content">
                <div class="contain__footer">
                    <div class="block__footer about">
                        <h4>ABOUT</h4>
                        <div class="figur"></div>
                        <a href="">Our Mission</a>
                        <a href="">Terms</a>
                        <a href="">Copyrights</a>
                    </div>
                    <div class="block__footer faq">
                        <h4>FAQ</h4>
                        <div class="figur"></div>
                        <a href="">Rules</a>
                        <a href="">Tickets</a>
                        <a href="">Editions</a>
                        <a href="">Contribute</a>
                    </div>
                    <div class="block__footer events">
                        <h4>EVENTS</h4>
                        <div class="figur"></div>
                        <a href="">Star Gazing</a>
                        <a href="">Desert Mania</a>
                        <a href="">Dunes Madness</a>
                        <a href="">Spooky Land</a>
                    </div>
                    <div class="block__footer contact">
                        <h4>CONTACT US</h4>
                        <div class="figur"></div>
                        <a href="">hello@example.com</a>
                        <a href="">(405) 555-0128</a>
                        <a href="">(252) 555-0126</a>
                    </div>
                    <div class="block__footer follow">
                        <h4>FOLLOW US</h4>
                        <div class="figur"></div>
                        <div class="mini_social">
                            <ion-icon name="logo-instagram"></ion-icon>
                            <ion-icon name="logo-facebook"></ion-icon>
                            <ion-icon name="logo-twitter"></ion-icon>
                        </div>
                    </div>
                </div>
                <p>Copyright © Night Trips 2019. All rights reserved.</p>
                <div class="logo footer__logo">NT</div>
            </div>
        </footer>
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>